header{
    
    background-image: url(background.jpg);
    height: 100vh;
    background-size: 100% 100%;
    margin-bottom: 20px;
}

    
.div-img1{
    
    width: 50%;
    float: left;
    margin-top: 10px;

}
.div-img1 img{
    width: 200px;
    height: 80px;
}
.links{
    
    width: 40%;
    float: right;
    
}
.links ul li a{ 
    text-decoration: none;
    color: white;
} 

.links ul li{
    list-style: none;
    float: left;
    margin: 20px;
    
}
.content4{
    text-align: center;
    margin-top: 200px;
    color: white;
    
}
.content4 p{
    font-weight: normal;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content4 h1{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    margin: 20px 5px;
    
}
button{
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.btn2{
    border: white 2px solid;
    background-color: transparent;
}

.btn1{
    border: none;
    background-color: #8e7754;
}

.section-1{
    margin: auto;
    width: 90%;
}

.img{

    width: 45%;
    float: left;
}

.img img{
    width: 100%;
    
}

.content{
    width: 45%;
    text-align: center;
    float: right;
    color: gray;
}

.content ul li{
    text-align: left;
    margin: 20px 0;
   padding-left: 40px;
}


.section-2{
    margin: auto;
    width: 90%;

}

.content2{
    width: 50%;
    float: left;
    text-align: center;
}

.content2 p{
    padding: 30px;
}

.div-img2{
    width: 40%;
    float: right;
}

.div-img2 img{
    width: 100%;
}

.section-3{
    text-align: center;
}

.item{
    width: 33.3%;
    float: left;
}

.item img{
    width: 90%;
    
}

.clear-fix{
    clear: both;
}


